<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>learning vue linkedin learning</title>
</head>
<body>
    <div id="app">
        <!-- this method will give flicker of curly braces
        <h1>{{deckName}}</h1> -->
        <h1 v-text="deckName"></h1>

        <div class="input">
            type something:
            <input type="text" v-model="userInput">
            <p v-text="userInput"></p>
        </div>
        <!-- v-on:<event> is main and @ is the shorthand -->
        <!-- <div v-on:click="flipped = !flipped" class="card" >
            <h2 v-text="flipped ? '' : cards[index].front"></h2>
            <div v-html="flipped ? cards[index].back : '' "></div>
        </div> -->
        <!-- <div v-on:click="flipped = !flipped" class="card" >
            <h2 v-cloak v-show="!flipped">{{front}}</h2>
            <div v-show="flipped" v-html="back"></div>
        </div> -->
        <div v-on:click="flipped = !flipped" :class="{again: isRepeat}" class="card" >
            <h2 v-if="!flipped" v-text="front"></h2>
            <div v-else>
                <div  v-html="back"></div>
                <div class="score">
                    <button @click.stop="gotIt">Got it</button>
                    <button @click.stop="again">Again</button>
                </div>

            </div>
        </div>
        <div>
            <button @click="move(-1)" type="button">&#8592</button>
            <button @click="move(1)" type="button">&#8594</button>
        </div>
        <!-- this is the non-shortcut one
        <a v-bind:href="readMoreUrl">read more</a> -->
        <a :href="readMoreUrl">read more</a>

        <h1>Form handling</h1>

        <form action="" method="post">
            <div>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" v-model="formName">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="description" id="description" v-model="formDescription"></textarea>
                ({{charLeft}} characters left)
            </div>
            <div class="options">
                <!-- you can assign the true and false value for checkbox -->
                <!-- <div>
                    <input v-model="reverse" true-value="on" false-value="off" type="checkbox" name="reverse" id="reverse">
                    <label for="reverse">Include reverse cards</label>
                </div> -->
                <div>
                    <input v-model="options" type="checkbox" name="reverse" id="reverse" value="reverse">
                    <label for="reverse">Include reverse cards</label>
                </div>
                <div>
                    <input v-model="options" type="checkbox" name="time_limit" id="time_limit" value="time_limit">
                    <label for="time_limit">Enable time limit</label>
                </div>
                <div>
                    <input v-model="options" type="checkbox" name="reminders" id="reminders" value="reminders">
                    <label for="reminders">Enable reminders </label>
                </div>
                <div>
                    selected options: <strong>{{ options }}</strong>
                </div>

                <fieldset class="leech-action">
                    <legend>leech action</legend>
                    <div>
                        <input v-model="leech" type="radio" id="tag" name="leech" value="tag">
                        <label for="tag">tag</label>
                    </div>
                    <div>
                        <input v-model="leech" type="radio" name="leech" id="suspend" value="suspend">
                        <label for="suspend">suspend</label>
                    </div>

                </fieldset>
            </div>

            <div class="category">
                <label for="category">Category</label>
                <select v-model="categoryID" name="category" id="category">
                    <option value="">Select</option>
                    <option value="1">Foreign Language</option>
                    <option value="2">History</option>
                    <option value="3">Biology</option>
                    <option value="4">Geography</option>
                    <option value="5">Law</option>
                    <option value="6">Programming</option>
                </select>
            </div>
            <button @click.prevent="submit" type="submit">Create</button>
        </form>

        <h1>Card Manager</h1>
        <div class="font-buttons" :style="textSizeControlStyle">
            <button class="font" @click="fontSize++">A+</button>
            <button class="font" @click="fontSize--">A-</button>
        </div>

        <div class="card-manager" :style="{'font-size': fontSize + 'px'}">
            <div v-for="(card, index) in cards" class="card-pair">
                <div v-if="editIndex == index" class="card front">
                    <textarea @keydown.enter="editIndex = -1" name="front" id="front" v-model="card.front"></textarea>
                </div>
                <div v-else @click="editIndex = index" class="card front" v-text="card.front"></div>
                <div class="card" v-html="card.back"></div>
            </div>
        </div>
    </div>
    <script src="data.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const FlashCardApp = {
            data() {
                return {
                    deckName: 'Vue.js Fundamentals',
                    cards,
                    flipped: false,
                    readMoreUrl: 'https://loopersit.com',
                    userInput: 'default',
                    index: 0,
                    formName: 'Vue form',
                    formDescription: 'here goes the description',
                    reverse: false,
                    options: [],
                    leech: 'tag',
                    categoryID: '',
                    editIndex: -1,
                    fontSize: 16,
                    textSizeControlStyle: {
                        // textAlign: 'center',
                        cursor: 'pointer'
                    }
                }
            },

            computed: {
                charLeft() {
                    return 200 - this.formDescription.length
                },
                front() {
                    return this.cards[this.index].front
                },
                back() {
                    return this.cards[this.index].back
                },
                isRepeat () {
                    return this.cards[this.index].isRepeat
                }

            },

            methods:{
                move(change) {
                    if (this.cards[this.index + change]) {
                        this.index += change;
                    } else {
                        this.index = change == 1 ? 0 : this.cards.length - 1;
                    }
                    this.flipped = false;
                },
                submit() {
                    alert('Sumitting the form')
                },
                gotIt() {
                    if (this.cards.length ===1){
                        return alert('Well done');
                    }
                    this.cards.splice(this.index, 1);
                    if (! this.cards[this.index]) {
                        this.index = 0;
                    }
                    this.flipped = false
                },
                again() {
                    this.cards[this.index].isRepeat = true;
                    this.move(1);
                }
            }
        }
        const app = Vue.createApp(FlashCardApp).mount('#app')
    </script>
</body>
</html>