#app {
    padding: 10px;
}

.card {
    padding: 10px;
    border: 1px solid rgb(40, 159, 178);
    width: 20rem;
    border-radius: 10px;
    margin-block: 5px;
}

.card-manager {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.front {
    background-color: rgb(14, 121, 121);
    color: white;
}